/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

/* Mascot adjustments */
.mascot img {
  margin-bottom: 10px;
  border-radius: 5px;
}

/* Container adjustments */
#container {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

/* General button styles */
button {
  padding: 10px 20px;
  margin: 10px 5px;
  border: none;
  border-radius: 5px;
  background-color: #45a049;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.position-fixed {
  top: 10px;
  right: 10px; /* Adjusts positioning to the top right */
}

/* Hover effect for buttons */
button:hover {
  background-color: #b62020;
}

/* Specific styles for the admin buttons */
#viewHistory {
  background-color: #45a049; /* Bootstrap's info color */
  width: 100%;
}

#viewHistory:hover {
  background-color: #007ba7; /* Darker info color on hover */
}

/* Styles for admin container */
#container {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Styles for the History and Current Rooms buttons */
#viewHistory {
  font-size: 18px;
  padding: 15px;
  margin-top: 20px;
}

.text-white {
  color: white !important;
}
