body {
  font-family: 'Arial', sans-serif;
  background-color: #55609b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.colour {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  min-height: 40px;
  min-width: 40px;
  border-color: white;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.tools {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 20px;
}

.drawButton {
  align-self: center;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  font-weight: bold;
  margin-left: 5px;
  margin-right: 5px;
}

.container {
  width: 100%;
  background: white;
  border-radius: 80px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 50px;
  text-align: center;

  position: relative;
}

.countdown-bar-container {
  width: 100%;
  height: 20px;
  background-color: #f3f3f3;
}
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
  color: white;
  font-size: 30px;
  z-index: 4000;
}
.top-right {
  position: absolute;
  top: 25px;
  right: 25px;
  color: white;
  font-size: 30px;
  z-index: 4000;
}

.countdown-bar {
  height: 100%;
  width: 100%;
  background-color: #ff0000;
  transition: width 30s linear;
}

#colour-picker {
  align-self: center;
  margin-left: 5px;
  margin-right: 5px;
  height: 40px;
}

#size-picker {
  align-self: center;
  margin-left: 5px;
  margin-right: 5px;
  accent-color: blue;
  cursor: pointer;
}

#canvas {
  box-shadow: -3px 2px 9px 6px black;
  cursor: url('../images/cursor_pen.png'), auto;
  margin-top: 20px;
}

#appLogo img {
  width: 100px;
  height: auto;
  margin-top: 20px;
  border: #333;
  border-radius: 5px;
}

#prompt {
  color: white;
  font-size: 30px;
  text-align: center;
  margin-top: 10px;
}
