/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

/* Mascot adjustments */
.mascot img {
  margin-bottom: 10px;
  border-radius: 5px;
}

/* Container adjustments */
#container {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

/* General button styles */
button {
  padding: 10px 20px;
  margin: 10px 5px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.position-fixed {
  top: 10px;
  right: 10px; /* Adjusts positioning to the top right */
}

/* Hover effect for buttons */
button:hover {
  background-color: #45a049;
}

/* Specific styles for Start Game and Join buttons */
#startGame,
#submitJoinRoom {
  background-color: #008cba;
}

#startGame {
  display: block; /* Makes the button a block element */
  margin: 20px auto; /* Centers the button horizontally with automatic margins */
  width: 50%; /* Optional: you can set a specific width if you want a uniform button size */
}

#startGame:hover,
#submitJoinRoom:hover {
  background-color: #007ba7;
}

/* Styles for input fields */
input[type='text'] {
  padding: 10px;
  width: 70%;
  margin-right: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Public Rooms List styles */
#publicRoomsList {
  margin-top: 20px;
}

.public-room {
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px 0;
  padding: 10px 15px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.public-room button {
  background-color: #008cba;
  padding: 5px 10px;
  margin-left: 10px;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.public-room button:hover {
  background-color: #007ba7;
}

.btn-primary,
.btn-primary:hover {
  background-color: #008cba;
  border-color: #007ba7;
}

#startGame {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn-success {
  background-color: #28a745; /* Bootstrap 4's default green */
  border-color: #28a745; /* Ensuring the border matches the background */
}

#membersList {
  list-style-type: none;
}

#membersList li {
  margin-bottom: 5px;
}
