* {
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body.bg-custom {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #55609b;
  color: #333;
  font-size: 20px;
}

.max-w-600 {
  max-width: 600px;
  border-radius: 20px !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.main-title {
  color: #444;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 10px;
}

.warning-text {
  font-size: 0.9rem;
  font-weight: bold;
}

.mascot img {
  height: auto;
}

.guest-nickname input {
  color: black !important;
}
